VITE_API_BASE_URL=http://localhost:5000/api/v1
VITE_ANALYSIS_CHAT_API_URL=http://localhost:5003/api/v1/analysis-chat
VITE_ANALYSIS_THREADS_API_URL=http://localhost:5003/api/v1/analysis-threads
VITE_ANALYSIS_API_KEY=bf1c98bace3a1ea359d27499db20ada68a42fb8e9ec5938a89bde2d85d33591d